@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, span{
  font-family: "Inter", sans-serif;
}

button, p, input {
  font-family: "DM Sans", sans-serif;
}
/* Style the scrollbar for webkit browsers */
/* Style the scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
  background-color: transparent; /* Make scrollbar background transparent */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make track background transparent */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scroll thumb */
  border-radius: 6px; /* Roundness of the scroll thumb */
  border: 3px solid transparent; /* Transparent border around scroll thumb */
  background-clip: padding-box; /* Prevents the background color from leaking into the border */
}

/* Unfortunately, for Firefox, there's no direct way to make the scrollbar overlay content without taking space as of the latest standards. */